<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css"> 
  <script src="/js/main.js"></script>
</head>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
      <th>Dirección</th>
    </tr>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.phone_number %></td>
      <td><%= customer.address %></td>
    </tr>
  </table>
    <a class="btn" href="#" id="backButton" >Volver</a>
    <a class="btn" href="/customers/update/<%= customer.id %>">Editar</a>
    <a class="btn" href="/customers/<%= customer.id %>/transactions">Ver Movimientos</a>
</div>
</body>
</html>