<!DOCTYPE html>
<html lang="en">
<%- include('partials/heads', { title: title }) %>
<body>
  <script src="/js/transaction.js"></script>
  <div class="container">
    <%- include('partials/messages') %>
    <h2>Ingresar Movimiento</h2>
    <%- include('partials/_transaction-form', { customer: customer }) %>
    <% if (transactions && transactions.length > 0) { %>
      <h2>Transacciones Existentes</h2>
      <p>Id: <%= customer.id %></>
      <h2><%= customer.name %></h2>
      <%- include('partials/_transaction-table', { transactions: transactions, balance: balance }) %>
    <% } else { %>
      <h2>No existen transacciones</h2>
      <% } %>
      <a href="/" class="btn btn-back">Volver al inicio</a>
  </div>
</body>
</html>