<div id="flash-messages"></div>
<button id="export_button">Descargar detalle</button>
<form action="/transactions" method="GET">
    <input type="hidden" name="customer_id" value="<%= customer.id %>"> 
    <input type="hidden" name="customer_name" value="<%= customer.name %>">
    <label for="startDate">Fecha de Inicio:</label>
    <input type="date" id="startDate" name="startDate" value="<%= startDate || '' %>">
    <label for="endDate">Fecha de Fin:</label>
    <input type="date" id="endDate" name="endDate" value="<%= endDate || '' %>">
    <button type="submit">Filtrar/Mostrar Historial</button>
    <a href="/transactions?customer_id=<%= customer.id %>&customer_name=<$= customer.name %>">Limpiar Filtros</a>
</form>
<div id="transaction-table" class="data-table"></div>
<a href="/" class="btn btn-back">Volver al inicio</a>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="/js/renderHistory.js"></script>
<script src="/js/transactionHistory.js"></script>